.catalog__area {
  padding-top: 40px;
}

.catalog {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card__outer {
  position: relative;
}

.card {
  padding: 20px;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__img {
  width: 60%;
  margin: 0 auto 30px;
}

.card__img img {
  display: block;
  width: 100%;
}

.card__info {
  margin-top: auto;
}