.catalog__area {
  padding-top: 40px;
}

.catalog {
  display: grid;
  width: 100%;
  gap: 20px;
}

.catalog_wide {
  grid-template-columns: repeat(4, 1fr);
}

.catalog_content {
  grid-template-columns: repeat(4, 1fr);
}

.card__outer {
  position: relative;
}

.card {
  padding: 20px;
  border: 1px solid var(--gray);
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__icons {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
}

.card__icons span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icons span:not(:first-child) {
  margin-left: 10px;

}

.percentIcon {
  background-color: var(--hover1);
}

.saleLeaderIcon {
  background-color: #f00;
}

.card__fav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card__fav span {
  font-size: 24px;
  color: var(--color1);
}

.card__img {
  width: 60%;
  margin: 0 auto 30px;
}

.card__img img {
  display: block;
  width: 100%;
}

.card__info {
  margin-top: auto;
}

.card__title {
  font-size: 1rem;
  text-align: center;
  line-height: 1.3;
}

.card__priceArea {
  margin-top: 20px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 500;
  font-size: 26px;
  color: var(--color1);
  text-align: center;
}

.card__buyBtn {
  padding: 5px 20px;
  font-family: "Comfortaa", sans-serif;
  background: var(--color1);
  margin: 20px auto 0;
  cursor: pointer;
  color: #fff;
}

.card__buyBtn:hover {
  background: var(--hover1);
}


/***************************/

.catTtile__area {
  width: 100%;
  background: var(--light);
  margin-bottom: 20px;
}

.catTtile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.catTtile h1 {
  margin: 0;
}

.catTtile__breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.catTtile__breadcrumbs span {
  margin: 0 10px;
}

.catTtile__breadcrumbs a {
  text-decoration: none;
  color: var(--color1);
}

.catTtile__breadcrumbs a:hover {
  color: var(--hover1);
}

/*******************************/

.sortBtnsArea {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.sortTitle {
  font-size: 1rem;
  font-weight: 500;
  color: var(--color1);
}

.sortBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #000;
}

.sortBtn:hover {
  color: var(--hover1);
}

.sortBtn:not(:first-child) {
  margin-left: 20px;
}

.sortBtn i {
  font-size: 1.125rem;
  margin-left: 8px;
}

/****************************/

.leftMenu__area {
  position: relative;
}

.leftMenu {
  list-style: none;
  width: 100%;
}

.leftMenu li {
  margin-bottom: 5px;
  width: 100%;
}

.leftMenu li a {
  display: flex;
  padding: 10px 20px;
  text-decoration: none;
  background: var(--light);
  color: var(--color1);
  font-size: 1.25rem;
  transition: all .2s;
}

.leftMenu li.active a {
  background: var(--color1);
  color: #fff;
}

.leftMenu li a:hover {
  background: var(--color2);
  color: #fff;
}