.topLine__area {
  position: relative;
  border-bottom: 1px solid var(--gray);
}

.topLine {

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topLine__left {
  padding: 10px 10px 10px 0;
}

.topLine__text {
  // font-family: "Comfortaa", sans-serif;
  font-size: .875rem;
}

.topLine__right {
  display: flex;
  align-items: center;
}

.topLine__btn {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  border-right: 1px solid var(--gray);
}

// .topLine__btn:not(:first-child) {
//   border-right: 1px solid var(--gray);
// }

.topLine__btnElem {
  display: flex;
  align-items: center;
  padding: 0 10px;
  color: #000;
  text-decoration: none;
  position: relative;
}

.topLine__btnElem:hover {
  color: var(--hover1);
}

.topLine__btnElem:not(:first-child) {
  border-left: 2px solid #000;
}

.topLine__btnElem span {
  font-size: 0.875rem;
  margin-left: 8px;
}

.cartCount {
  position: absolute;
  top: -6px;
  right: 1px;
  font-size: 0.625rem;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color1);
  color: #fff;
  border-radius: 50%;
}

.header__area {
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo1 {
  position: relative;
  width: 150px;
}

.logo1 img {
  display: block;
  width: 100%;
}

.header__cont {
  display: flex;
  flex-direction: column;
}

.header__contEl {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: var(--color1);
}

.header__contEl:hover {
  color: var(--hover1);
}

.header__contEl:last-child {
  margin-bottom: 0;
}

.header__contEl i {
  font-size: 1.25rem;
}

.header__contEl span {
  margin-left: 10px;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "Comfortaa", sans-serif;
}


.topMenu__area {
  position: relative;
}

ul.topMenu {
  display: flex;
}

ul.topMenu li {
  list-style: none;
}

ul.topMenu>li {
  display: flex;
  margin-right: 40px;
}

ul.topMenu>li:last-child {
  margin-right: 0;
}

ul.topMenu>li>a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: var(--color1);
  transition: all .3s;
  padding: 10px 0;
  font-family: "Comfortaa", sans-serif;
}

ul.topMenu>li:hover>a {
  color: var(--hover1);
}

ul.topMenu>li>a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}



ul.topMenu>li.hasInner>a::after {
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 20px;
  color: #333;
  margin: 5px 0 0 8px;
  color: var(--color1);
  transition: all .3s;
}

ul.topMenu>li.hasInner:hover>a::after {
  color: var(--hover1);
}


ul.topMenu ul {
  display: none;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  padding: 30px 40px;
  background-color: #fff;
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.1);
}

ul.topMenu>li.hasInner:hover ul {
  display: block;
}

ul.topMenu ul li {
  margin-bottom: 10px;
}

ul.topMenu ul li:last-child {
  margin-bottom: 0;
}

ul.topMenu ul a {
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: var(--color1);
  transition: all .3s;
}

ul.topMenu ul a:hover {
  color: var(--hover1);
}