html,
body {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  position: relative;

}

.site {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site__header {
  position: relative;
}

.site__content {
  flex: 1;
}

.site__footer {
  position: relative;
}

.area {
  position: relative;
}

.w {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.ww {
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}