mixin face 
  .face.ww
    .face__el.face__el1(style="background-image: url(assets/img/face/01.jpg)")
    .face__el.face__el2(style="background-image: url(assets/img/face/02.jpg)")
    .face__el.face__el3(style="background-image: url(assets/img/face/03.jpg)") 
    .face__el.face__el4(style="background-image: url(assets/img/face/04.jpg)") 

