mixin footer 
  .footer__area 
    footer.footer.ww
      .f1 
        .logo2 
          img(src="assets/img/logo1.png", alt="") 
      .f2 
        .footer__title ИП Скисов И.Ю.
        .footer__text <strong>ИНН</strong> 644900310710
        .footer__text <strong>ОГРН</strong> 304644929900264
      .f3 
        .footer__title Сеть магазинов "Мир часов" 2001-2024
        .footer__text Информация на сайте не является публичной офертой
        a.footer__link(href="#")  Политика конфиденциальности

      .f4 
        .footer__title Контакты
        .footer__cont 
          a.footer__contEl.footer__contEl_mail(href="mailto:world_clock@list.ru")  
            i.icon-email1
            span world_clock@list.ru
          a.footer__contEl(href="tel:+791798888337")  
            i.icon-phone23a
            span 8-917-988-88-33
          a.footer__contEl(href="tel:88007002127")  
            i.icon-phone23a
            span 8-800-700-21-27


