mixin header 
  .topLine__area 
    .topLine.w
      .topLine__left
        .topLine__text Часы для уникальных людей
      .topLine__right
        .topLine__btn 
          a.topLine__btnElem(href="")
            i.fa.fa-sign-in(aria-hidden="true")
            span Войти
          a.topLine__btnElem(href="") 
            i.fa.fa-user-plus(aria-hidden="true")
            span Регистрация
        .topLine__btn 
          a.topLine__btnElem(href="")
            i.fa.fa-shopping-basket(aria-hidden="true")
            .cartCount 0
