mixin header 
  .topLine__area 
    .topLine.w
      .topLine__left
        .topLine__text Часы для уникальных людей
      .topLine__right
        .topLine__btn 
          a.topLine__btnElem(href="")
            i.fa.fa-sign-in(aria-hidden="true")
            span Войти
          a.topLine__btnElem(href="") 
            i.fa.fa-user-plus(aria-hidden="true")
            span Регистрация
        .topLine__btn 
          a.topLine__btnElem(href="")
            i.fa.fa-shopping-basket(aria-hidden="true")
            .cartCount 0
        .topLine__btn 
          a.topLine__btnElem(href="")
            i.fa.fa-search(aria-hidden="true")
  .header__area 
    header.header.w 
      .logo1 
        a(href="#")
          img(src="assets/img/logo1.png", alt="") 
      .header__cont 
        a.header__contEl(href="tel:+791798888337")  
          i.fa.fa-mobile
          span 8-917-988-88-33
        a.header__contEl(href="tel:88007002127")  
          i.fa.fa-mobile
          span 8-800-700-21-27
