mixin tovar
  .tovar__area 
    .titleLine__area 
      .titleLine.ww
        .breadcrumbs 
          a(href="") Каталог
          span /
          a(href="") Наручные часы
        h1 Casio
    .tovar.ww
      .tovar__left
        .tovar__img
          img(src="https://mirchasov64.ru/assets/images/products/14675/mtp-1375d-1a.jpg", alt="")
      .tovar__right