- var pageTitle = 'Категория'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __footer
include __face
include __catalog
include __filters


<!DOCTYPE html>
html(lang="ru-RU")
+head
body
  .site 
    .site__header 
      +header
      
    .site__content 
      .catTtile__area 
        .catTtile.ww
          .catTtile__breadcrumbs 
            a(href="") Каталог
            span /
            a(href="") Наручные часы
          h1 Casio

      .splitCols.ww.area
        .menuCol 
          +filters
          +leftMenu
        .contentCol
          +sortBtn
          +catalog

    .site__footer
      +footer


  +scripts

