- var pageTitle = 'Главная страница'
- var seoKeywords = 'Ключевые слова для страницы'
- var seoDesc = 'Сео описание для страницы'

include __const
include __header
include __footer
include __face
include __catalog


<!DOCTYPE html>
html(lang="ru-RU")
+head
body
  .site 
    .site__header 
      +header
      
    .site__content 
      +face
      +saleLeaders

    .site__footer
      +footer

  +scripts

